.menu {
    width: 4.96vw;
    position: absolute;
    top: 5vh;
    right: 3vh;
}

.icon {
    height: 7.09vh;
    width: auto;
    margin-top: 0.74vh;
    margin-left: 0.74vh;
    margin-right: 0.74vh;
}

#widget-container {
    margin: 0.98vh auto;
    position: relative;
    width: 20.68vh;
    height: 10.34vh;
    perspective: 85.38vw;
    pointer-events: all;

}

.widget {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
}

#widget-content div {
    margin: 0;
    display: block;
}

.widget.flipped {
    transform: rotateY( -180deg);
}

.widget-content.front {
    position: absolute;
    text-align: center;
    width: 20.68vh;
    height: 10.34vh;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform: rotateX(0deg); /*fixes firefox bug backface-visibility*/
}

.widget-content.back {
    transform: rotateY( 180deg);
    backface-visibility: hidden;
    height: 10.34vh;
    backface-visibility: hidden;

}

.widget-name {
    color: #000;
    font-weight: normal;
    margin: auto;
    font-size: 8.86vh;
    cursor: pointer;
    
}

.month {
    height: 11.08vh;
    width: 8.86vh;
    line-height: 11.08vh;
    font-size: 6.35vh;
    color: black;
    background: #d7ccc8;
    text-align: center;
    margin: 0.3vh;
    pointer-events: all;
    font-family: "Segoe UI";
}

.time-selection-container {
    position: absolute;
    top: 19vh;
    left: 8vh;
    pointer-events: none;
}

.canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    clear:both;
    width: 62.04vh;
    height: 87.89vh;
}

.submenu {
    height: auto;
    position: absolute;
    padding: 0.74vh;
    margin-top: 0.74vh;
    pointer-events: all;
    
}


.resize {
    top: 4.73vh;
    right: 14.77vh;
}

.positioning {
    top: 13.29vh;
    right: 14.77vh;
    pointer-events: none;
}

.positions {
    height: 11.08vh;
    width: 8.86vh;
    line-height: 11.08vh;
    font-size: 6.35vh;
    color: black;
    background: #d7ccc8;
    text-align: center;
    margin: 0.3vh;
    pointer-events: all;
}

.grid-design {
    top: 22.15vh;
    right: 14.77vh;
    pointer-events: none;
}

.grid-thumbnail {
    height: 14.03vh;
    width: 16.84vh;
    pointer-events: all;
    margin: 0.3vh;
}

.grid-image {
    height: 14.03vh;
    width: 16.84vh;
}

.image {
    top: 3.55vh;
    right: 14.77vh;
    pointer-events: none;
}

.image-item {
    height: 11.08vh;
    width: 8.86vh;
    line-height: 11.08vh;
    font-size: 6.35vh;
    color: black;
    background: #d7ccc8;
    text-align: center;
    margin: 0.3vh;
    pointer-events: all;
}

.highlight-container {
    top: 45vh;
    right: 14.77vh;
    pointer-events: all;
}

.highlight {
    pointer-events: none;
}

.day {
    height: 5.91vh;
    width: 6.65vh;
    line-height: 5.91vh;
    font-size: 2.95vh;
    color: black;
    background: #d7ccc8;
    text-align: center;
    margin: 0.3vh;
    pointer-events: all;
}

.color-palette {
    top: 8.86vh;
    right: 14.77vh;
    pointer-events: none;
}

.color {
    height: 7.39vh;
    width: 7.39vh;
    margin: 0.3vh;
    pointer-events: all;
}

.font {
    top: 56.87vh;
    right: 14.77vh;
}

.download {
    width: 30vh;
    top: 50vh;
    right: 14.77vh;
}

.month-small {
    height: 8vh;
    width: 7vh;
    line-height: 8vh;
    font-size: 3.69vh;
    color: black;
    background: #d7ccc8;
    text-align: center;
    margin: 0.3vh;
    pointer-events: all;
}

.month-small-container {
    margin-bottom: 1.48vh;
    pointer-events: none;
}

.label {
    font-size: 2.22vh;
    color: black;
}

.calendar-image {
    height: 14.18vh;
    width: 14.18vh;
    border: 0.3vh solid #616161;
}

.background-image {
    height: 14.18vh;
    width: 14.18vh;
    border: 0.3vh solid #616161;
}

.background {
    top: 9.54vh;
    right: 14.77vh;
    pointer-events: none;
}

.background-thumbnail {
    margin: 2px;*/
    height: 14.18vh;
    width: 14.18vh;
    pointer-events: all;
    margin: 0.3vh;
}