@font-face {
    font-family: "segoeui_light";
    src: url("../res/font/segoe/segoeuil-webfont.eot");
    src: url("../res/font/segoe/segoeuil-webfont.eot?#iefix") format("embedded-opentype"),
         url("../res/font/segoe/segoeuil-webfont.woff") format("woff"),
         url("../res/font/segoe/segoeuil-webfont.ttf") format("truetype"),
         url("../res/font/segoe/segoeuil-webfont.svg#segoeui_light") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Rokkitt";
    src: url("../font/Rokkitt/Rokkitt-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

html{
    display: none;
}

header{
    background-image: url("../images/background-landing-page.jpg");
    height: 100vh ;
    background-size: cover;
    color: #fff;
    font-family: "Roboto";
}

p{
    color: #fff;
}

tr, td {
    border-spacing: 0px;
    margin: auto;
}

::-webkit-scrollbar {
    width: 0px;
}

