@font-face {
    font-family: "segoeui_light";
    src: url("../res/font/segoe/segoeuil-webfont.eot");
    src: url("../res/font/segoe/segoeuil-webfont.eot?#iefix") format("embedded-opentype"),
         url("../res/font/segoe/segoeuil-webfont.woff") format("woff"),
         url("../res/font/segoe/segoeuil-webfont.ttf") format("truetype"),
         url("../res/font/segoe/segoeuil-webfont.svg#segoeui_light") format("svg");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "Rokkitt";
    src: url("../font/Rokkitt/Rokkitt-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

body{
    background-image: url("../images/background-pattern.png");
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


::-webkit-scrollbar {
    width: 0px;
}



html{
    display: none;
}